<h1> New HBA Members</h1>

<%= form_for :member, url:members_path do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <div>
      <%= f.label :active %><br>
      <%= f.check_box :active, {},checked_value="yes",unchecked_value="no"  %>
    </div>
    <div>
      <%= f.label :is_member %><br>
      <%= f.check_box :is_member, {},checked_value="yes",unchecked_value="no"  %>
    </div>
    <div>
      <%= f.label :join_date %><br>
      <%= f.date_select :join_date %>
    </div>


  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back', members_path%>
<% end %>